@import url("https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&family=Love+Light&family=Noto+Music&family=Noto+Sans+Anatolian+Hieroglyphs&family=Rubik+Marker+Hatch&family=Train+One&display=swap");

/* --- Reset --- */
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --dark-mode-bg-color: radial-gradient(
        circle,
        rgba(23, 19, 109, 1) 0%,
        rgba(0, 0, 0, 1) 100%
    );

    --light-mode-bg-color: radial-gradient(
        circle,
        rgb(85, 85, 185) 0%,
        rgb(200, 180, 170) 100%
    );

    --dark-mode-text-color: hsl(0, 0%, 100%);
    --dark-mode-text-color-hover: hsl(0, 0%, 60%);
}

body {
    margin: 0;
    font-family: sans-serif;
}

img {
    display: inline-block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* --- Fontawesome styles --- */
.fa-sun {
    width: 1rem;
}
.fa-moon {
    width: 1rem;
}

/* --- Scrollbar --- */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 33%);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 11%);
}

/* --- Header --- */
header {
    z-index: 1;
    /*border-bottom: 3px solid black;*/
    background-color: rgb(10, 12, 16);
    width: 100%;
    position: sticky;
    top: 0;
}

header #nav-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
}

#nav-container > #nav-logo {
    /* ez majd egy img lesz, nem szöveg, csak még nincs kép szerkesztve*/
    padding: 1.5rem;
    transition: 1000ms ease-in-out;
    margin-block: 0;
    color: hsl(0, 0%, 80%);
    text-wrap: nowrap;
}

#nav-logo:hover,
#nav-logo:focus-visible {
    transform: rotate(360deg);
}

#nav-container > a {
    margin: 1.5rem;
}

#nav-container li {
    padding: 0.6rem;
    /*background-color: purple;*/
    color: var(--dark-mode-text-color);
    transition: 250ms ease-in-out;
    text-wrap: nowrap;
    cursor: pointer;
}

#nav-container li:hover {
    color: var(--dark-mode-text-color-hover);
}

#nav-container > div {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-inline: auto 2rem;
}

#nav-search {
    margin-left: auto;
}

iframe {
    display: block;
    aspect-ratio: 16 / 9;
    width: 100%;
    z-index: -1;
    position: relative;
    top: -85px;
    margin-bottom: -85px;
}

/* --- Main --- */
main {
    background: var(--dark-mode-bg-color);
}

main > #main-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    /*top: 40vh;
    left: 27vw;*/
    width: 100vw;
    height: 100vh;
    top: 0;
}

main > #main-heading > h1 {
    font-family: "Love Light";
    font-size: 5rem;
    color: var(--dark-mode-text-color);
    text-shadow: 2px 2px black;
    text-align: center;
    margin: 0;
    padding-top: 3rem;
    text-wrap: nowrap;
}

main > #main-heading > p {
    font-family: "Love Light";
    font-size: 3rem;
    color: var(--dark-mode-text-color);
    text-shadow: 1px 1px black;
    text-align: center;
    margin: 0;
    padding-top: 1rem;
    text-wrap: nowrap;
}

main > #main-heading > button {
    font-family: "Liu Jian Mao Cao";
    font-size: 2em;
    font-weight: bold;
    color: var(--dark-mode-text-color);
    background-color: hsla(0, 0%, 10%, 40%);
    cursor: pointer;
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 1.2rem;
    border: 0;
    transition: 1000ms ease-in-out;
}

main > #main-heading > button:hover {
    background-color: hsl(0, 0%, 4%);
}
/*
#mt-background-container {
    position: relative;
    display: flex;
    padding-block: 1rem;
    scroll-behavior: smooth;
    left: 0;
    margin: 2rem;
}

#mt-background-container::before {
    position: absolute;
    top: 35%;
    left: 0;
    font-family: "Font Awesome 5 Free";
    content: "\f060";
    display: inline-block;
    font-weight: 900;
    font-size: 5rem;
    color: hsla(0, 0%, 35%, 70%);
    z-index: 1;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

#mt-background-container::after {
    position: absolute;
    top: 35%;
    right: 0;
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    display: inline-block;
    font-weight: 900;
    font-size: 5rem;
    color: hsla(0, 0%, 35%, 70%);
    z-index: 1;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

#mt-background-container:hover::before,
#mt-background-container:hover::after {
    color: hsla(0, 0%, 60%, 90%);
}

#mt-background-container:hover::before {
    translate: 10px;
}

#mt-background-container:hover::after {
    translate: -10px;
}

#mt-background-container > a {
    margin: 0 1rem;
    display: flex;
    left: 0;
}

#mt-background-container > a > img {
    max-width: 10rem;
    border-radius: 1.5rem;
    transition: 300ms ease-in-out;
}

#mt-background-container > a > img:hover {
    
    scale: 1.1;
}
*/

#main-anime-container {
    padding-top: 2rem;
}

section h2 {
    margin: 0 2rem 2rem 2rem;
    color: var(--dark-mode-text-color);
}

section p {
    margin: 2rem;
    color: var(--dark-mode-text-color-hover);
    line-height: 4rem;
    text-wrap: wrap;
    line-break: calc(1rem + 1ch);
}

#main-article-container {
    /*background-color: green;*/
    display: flex;
}

#main-article-container > article {
    border: 1px solid black;
    text-align: center;
    flex-grow: 1;
}

#main-article-container h3 {
    font-family: "Train One";
    color: aqua;
    padding-top: 1rem;
    padding-inline: 1rem;
}

#main-article-container p {
    font-family: "Rubik Marker Hatch";
    color: aliceblue;
    padding-inline: 1rem;
}
